* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
}

main {
    display: flex;
    min-height: 100vh;
}


/***********************
MENU
***********************/

nav {
    background-color: #f5f6f7;
    width: 21%;
}

.main_menu {
    color: #3d4449;
    width: 80%;
    margin: 0 auto;
}

.menu_element {
    width: 100%;
}

.menu_element a {
    color: #3d4449;
    display: block;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    border-bottom: solid #dadfe1 1px;
    text-transform: uppercase;
}

.menu_element a:hover {
    transition: 0.6s;
    color: #f56a6a;
}

.menu_logo {
    border-bottom: solid #f56a6a 3px;
}


/**************
SECTION
**************/

section {
    width: 100%;
}

.main {
    width: 85%;
    margin: 0 auto;
}

.logo_main {
    color: #858991;
}

.logo_all_main {
    padding: 20px;
    color: #000000b7;
    border-bottom: solid 3px #f56a6a;
}


/********************
menu_main
********************/

.menu_main {
    margin: 30px;
    min-height: 100px;
}

.menu_element_div {
    min-width: 90px;
    padding: 17px;
}

.menu_element_div a {
    text-decoration: none;
    color: #ff5655;
    padding: 7px;
    border: solid #ff5655 2px;
    border-radius: 1.1em;
}

.menu_element_div:hover {
    transform: scale(1.1);
}

.div_nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*****************
news
*****************/

.news {
    display: flex;
    border-bottom: solid 1px #d9dfe2;
    padding: 17px 0 17px 0;
}

.text {
    width: 50%;
}

.img_news {
    width: 50%;
}

.img_news img {
    width: 100%;
    height: 100%;
}

.button {
    margin: 14px;
    border: solid #ff5655 2px;
    border-radius: 1em;
    background-color: #fff;
}

.button a {
    padding: 17px;
    margin: 0 auto;
    text-decoration: none;
    color: #ff5655;
}

.button:hover {
    transform: scale(1.1);
}

.text_news {
    padding: 13px;
}